* {
	margin: 0;
	padding: 0;
	border: 0;
}

.menu {
	position: fixed;
	top: 0;
	background: #fff;
	left: -35%;
	width: 35%;
	transition: transform 1000ms ease;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.image {
	width: 100%;
	height: auto;
}

.header {
	left: 0;
	right: 0;
	position: fixed;
	background: #fff;
	height: 100%;
}

.navbar h3 {
	color: goldenrod;
	text-align: center;
	margin-top: 20px;
}

.navbar header {
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	height: 60px;
	width: 100%;
}

.navbar {
	background-color: #fff;
	width: 100%;
	height: 60px;
	z-index: 100;
}

#menu-button {
	margin-left :auto;
	margin-right: auto;
	background: #fff;
	width: 80px;
	height: 60px;
	border: none;
	outline: none;
	display: block;
	position: absolute;
	top: 0;
	cursor: pointer;
	right: -80px;
}

#menu-button span {
	background: goldenrod;
	height: 4px;
	display: block;
	margin: 5px auto;
	width: 30px;
}

.menu-header {
	padding-top: 60px;
}

.menu-header ul{
	width: 100%;
	list-style: none;
}

.menu-header li {
	float: left;
	width: 25%;
}

.menu-header a {
	font-weight: bold;
}

.menu-header li a{
	display: block;
	color: goldenrod;
	text-align: center;
	text-decoration: none;
	padding: 10px;
}

.navbar a {
	text-decoration: none;
}

.image-header {
	display: block;
	width: 100%;
	height: 60px;
}

.menu-icon {
	height: 54px;
	width: auto;
	margin-top: 3px;
	margin-bottom: 3px;	
}

#about-content, #image-content {
	display: none;
}

#about-content {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}

#about-content p {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
}

.quotes-block cite {
	float: right;
}

.quotes-block {
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 50px;
	padding: 10px;
}

.bio-block {
	margin-top: 10px;
}






